@{
    ViewData["Title"] = "Моя страница";
}
<div class="row">
    <div class="col-md-3">
        <img alt="Идет загрузка фото" width="225" height="225" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL"/>
        <br/><br/>
        <a asp-controller="Manage" asp-action="Index" class="a-editpage">Редактировать страницу</a>
        <hr style="border-color: gray"/>
        <p style="text-align: center; background: #FFF4EB"><a asp-controller="Manage" asp-action="Index" class="a-advertising">Мой Клуб</a></p>
        <p style="text-align: center; background: #FFF4EB"><a asp-controller="Manage" asp-action="Index" class="a-advertising">Бла-бла</a></p>
        <p style="text-align: center; background: #FFF4EB"><a asp-controller="Manage" asp-action="Index" class="a-advertising">Реклама</a></p>
    </div>
    <div class="col-md-9">
        <h4 style="font-weight: 600; font-size: 22px; color: #500000">Чостковский Виталий</h4>
        <a  href="" style="text-decoration: none">Задать статус</a>
        <hr style="border-color:gray"/>
    </div>
</div>