@{
    ViewData["Title"] = "Моя страница";
}

<div class="row">
    <div class="col-md-3">
        <img alt="Идет загрузка фото" width="225" height="225" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL" />
        <br /><br />
        <a asp-controller="Manage" asp-action="Index" class="editpage">Редактировать</a>
        <hr class="graycolor" />
        <a asp-controller="Manage" asp-action="Index" class="a-advertising"><div class="div-advertising">Мой Клуб</div></a><br />
        <a asp-controller="Manage" asp-action="Index" class="a-advertising"> <div class="div-advertising">Бла-бла</div></a><br />
        <a asp-controller="Manage" asp-action="Index" class="a-advertising"><div class="div-advertising">Реклама</div></a><br />
    </div>
    <div class="col-md-9">
        <div class="headline">
            <h4 style="font-weight: 600; font-size: 22px; color: #500000">Чостковский Виталий</h4>
            <a href="" class="size-15">Задать статус</a>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="size-15">День рождения:</p>
                    <p class="size-15">Семейное положение:</p>
                </div>
                <div class="col-md-8">
                    <p class="size-15">26 июня</p>
                    <a href="" class="size-15">Не женат</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="size-15">Город:</p>
                    <p class="size-15">Телефон:</p>
                </div>
                <div class="col-md-8">
                    <a href="" class="size-15">Днепр</a>
                    <p class="size-15" style="margin-top: 10px">22222222</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="size-15">Специализация:</p>
                    <p class="size-15">Место работы:</p>
                </div>
                <div class="col-md-8">
                    <a href="" class="size-15">Программист С#</a>
                    <p class="size-15" style="margin-top: 10px">Компания"Vega"</p>
                </div>
            </div>
            <div id="details" style="display: none" class="headline">
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <p class="size-15">Интересы:</p>
                        <p class="size-15">О себе:</p>
                    </div>
                    <div class="col-md-8">
                        <a href="" class="size-15">Велоспорт, лыжный спорт</a>
                        <p class="size-15" style="margin-top: 10px">Бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <p class="size-15">TODO:</p>
                        <p class="size-15">TODO:</p>
                    </div>
                    <div class="col-md-8">
                        <a href="" class="size-15">TODO:</a>
                        <p class="size-15" style="margin-top: 10px">TODO:</p>
                    </div>
                </div>
            </div>
            <span class="glyphicon glyphicons-519-option-horizontal" id="DetailButton" title="Полная информация"></span>
        </div>
        <br />
        <div class="row">
            <a asp-controller="Manage" asp-action="Index"><img alt="Идет загрузка фото" width="165" height="165" style="margin-left: 11px; padding: 20px 0 20px 0; background: white" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL" /></a>
            <a asp-controller="Manage" asp-action="Index"><img alt="Идет загрузка фото" width="165" height="165" style="margin-left: 11px; padding: 20px 0 20px 0; background: white" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL" /></a>
            <a asp-controller="Manage" asp-action="Index"><img alt="Идет загрузка фото" width="165" height="165" style="margin-left: 11px; padding: 20px 0 20px 0; background: white" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL" /></a>
            <a asp-controller="Manage" asp-action="Index"><img alt="Идет загрузка фото" width="165" height="165" style="margin-left: 11px; padding: 20px 0 20px 0; background: white" src="http://img-fotki.yandex.ru/get/6108/134924539.33/0_69dbc_18afd7b3_XL" /></a>
        </div>
        <hr />
        <div class="information">
            <h3>Привет</h3>
            <p>Идёт разработка!</p>
        </div>
        <div class="information">
            <h3>Привет</h3>
            <p>Идёт разработка!</p>
        </div>
        <h3>TODO:</h3>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#DetailButton").click(function () {
                $("#details").toggle();
            });
        });
    </script>
}

