body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}


.navbar-font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Background color and frame navigation menu */
.navbar-default {
    background-color: #FF9933;
    border-color: #FF9933;
    font-weight: bold;
}
    /* The color of the text that contains the name of the website or brand */
    .navbar-default .navbar-brand {
        color: #500000;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #b22222;
        }
    /* Color of navigation menu items */
    .navbar-default .navbar-nav > li > a {
        color: #8b0000;
    }

.btn-standard.btn {
    color: #8b0000;
    background: #FFDAB9;
}

    .btn-standard.btn:hover {
        background: #FFDAB0;
        color: #500000;
    }

.btn-registration.btn {
    background: #8b0000;
    color: #FFDAB9;
    width: 280px;
    margin-right: 60px;
}

    .btn-registration.btn:hover {
        background: #6b1a1a;
        color: #FFDAB9;
    }

.btn-link.btn-logoff:default {
    margin-right: 8px;
    outline: none;
    color: #FFDAB9;
}

.btn-link.btn-logoff:hover {
    text-decoration: none;
    outline: none;
    color: black;
}
/*Text*/
.text-classic {
    color: #b22222;
}

.text-bold {
    font-weight: bold;
}

.text-oblique {
    font-style: oblique;
}

.form-control.form-control-small {
    height: 29px;
}
