
body {
    padding-top: 62px;
    padding-bottom: 20px;
    background: #FFE6CC;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.navbar-font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Background color and frame navigation menu */
.navbar-default {
    background-color: #FF9933;
    border-color: #FF9933;
    font-weight: bold;
}
/* The color of the text that contains the name of the website or brand */
.navbar-default .navbar-brand {
    color: #500000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #b22222;
}
/* Color of navigation menu items */
.navbar-default .navbar-nav > li > a {
    color: #8b0000;
}

/* Class glyphicons*/
.glyphicons-519-option-horizontal {
    background: url(../glyphicons/glyphicons-519-option-horizontal.png);
    cursor: pointer;
    width: 22px;
    height: 6px;
}

.glyphicons-519-option-horizontal:hover {
    background: url(../glyphicons/glyphicons-519-option-horizontal-war.png);
    cursor: pointer;
    width: 22px;
    height: 6px;
}

/* Class btn*/
.btn-standard.btn {
    color: white;
    background: #8a4d0f;
    margin-top: 8px;
    font-size: 16px;
}

.btn-standard.btn:hover {
    color: white;
    background: #B7511F;
}

.btn-registration.btn {
    background: #8b0000;
    color: #FFDAB9;
    width: 280px;
    margin-right: 60px;
}

.btn-registration.btn:hover {
    background: #6b1a1a;
    color: #FFDAB9;
}

.btn-link.btn-logoff:default {
    margin-right: 8px;
    outline: none;
    color: #FFDAB9;
}

.btn-link.btn-logoff:hover {
    text-decoration: none;
    outline: none;
    color: black;
}

.btn-link.btn-logoff:focus {
    text-decoration: none;
}

.btn-login {
    width: 170px;
}

.br0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

/* Class link*/
.editpage {
    color: #B1B1AF;
    margin-left: 50px;
    font-size: 16px;
    text-decoration: none;
}

.editpage:hover {
    color: gray;
    font-size: 16px;
    text-decoration: none;
}

.editpage:focus {
    color: gray;
    font-size: 16px;
    text-decoration: none;
}

.a-advertising {
    color: #FEA348;
    font-weight: 900;
    font-size: 17px;
}

.a-advertising:hover {
    color: #FEA348;
    font-weight: 900;
    font-size: 17px;
    text-decoration: none;
}

.a-advertising:focus {
    color: #FEA348;
    font-weight: 900;
    font-size: 17px;
    text-decoration: none;
}

.div-advertising {
    text-align: center;
    background: white;
    width: 215px;
    height: 27px;
}

.div-advertising:hover {
    text-align: center;
    background: #FAFAFA;
    width: 215px;
    height: 27px;
}

.div-advertising:focus {
    text-align: center;
    background: #FAFAFA;
    width: 215px;
    height: 27px;
}
/* Class text*/
.text-classic {
    color: #b22222;
}

.text-bold {
    font-weight: bold;
}

.text-oblique {
    font-style: oblique;
}

.text-validation {
    color: red;
    font-weight: 700;
}

.form-control.form-control-small {
    height: 29px;
}

.size-15 {
    font-size: 15px;
    text-decoration: none;
}

.size-15:hover {
    font-size: 15px;
    text-decoration: none;
}

/* Class hr*/
hr {
    border-color: #BDBDBC;
}

.headline > hr {
    border-color: #FFF4EB;
    border-width: 4px;
}

.graycolor > hr {
    border-color: gray;
}

/* Class div*/
div.information {
    margin-top: 15px;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 12px;
}

/* ReSharper restore CssBrowserCompatibility */